<!DOCTYPE html>
<html>
    <head>
        <style>
            * { margin: 0; padding: 0; }
            html, body { width: 100%; height: 100%; }
        </style>
    </head>
    <body>
        <div id="player"></div>
        <script src="https://www.youtube.com/iframe_api"></script>
        <script>
            
        var player;
        YT.ready(function() {
            player = new YT.Player('player', %@);
            window.location.href = 'ytplayer://onYouTubeIframeAPIReady';
        });
            
        </script>
    </body>
</html>
